[Unit]
Description=Incus container
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/by-cx/incus-docker:latest
ContainerName=incus
Pull=never

Network=host
Volume=/var/lib/incus:/var/lib/incus
Volume=/lib/modules:/lib/modules:ro

CgroupsMode=no-conmon
HealthOnFailure=kill
LogDriver=none
Notify=healthy
PidsLimit=0
StopTimeout=330
Unmask=/sys/fs/cgroup

PodmanArgs=--privileged
PodmanArgs=--pid=host
PodmanArgs=--cgroupns=host

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900
TimeoutStopSec=360

[Install]
WantedBy=multi-user.target
